/*reset simple: aplican estilos*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*header*/
header{
    height: 100px; /*altura*/
    background: #00369c;
    padding: 0 50px; /*ponerlo mas centrado, ambos lados 50px*/
    color: #fff;
    display: flex; /*ponerlo mas organizado uno al lado del otro*/
    justify-content: space-between; /*ponerlo separado uno del otro*/
    align-items: center; /*centrados dentro del contenedor*/
    
}

.logo{
    text-transform: uppercase; /*poner la letra en mayuscula del html*/
    color: #fff;
    font-weight: 200; /*poner la letra menos ancha*/

}

.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-weight: 200;
}
.menu a{ /*menu a*/
    color: #fff;
    text-transform: uppercase; /*mayuscula*/
    text-decoration: none; /*quitar subrayado*/
    padding: 0 10px; /*0 px arriba pero 10px a los lado, los separa*/
    transition: 0.4s;
    display: flex;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px; /*ponerlo mas grande*/
    cursor: pointer; /*manito*/
    display: none; 
    transition: 0.4s;
} 

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu :hover, /*realiza actividades cuando se pasa el cursos*/
.esconder-menu:hover{
    color: #1a60e0; /*solo pone color encima de las palabras*/
}

#check{
    display: none;
}

/*banner*/

#banner{
    padding: 0 50px; /*se alinea la pagina que tenga la misma margen*/
    background-image: url(/imagenes/inicio.png);
    height: 50vh;
    background-size: cover; /*toma todo*/
    background-position: center;
    flex-direction: column;
}

#banner::before{
    content: '';
    /* background: rgba(77, 77, 92, 0.6); */
    position: absolute;
    width: 0%;
    height: 50vh;
    left: 0;
}

.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}

.contenido-banner h3 span{
    font-weight: 600;
}

.boton-inscribete{
    text-decoration: none;
    color: #fff;
    border: 1px solid #16ce21;
    padding: 10px 20px;
    align-self: baseline; /*organiza el boton*/
    transition: all 0.4s;
    background-color: #16ce21;
    border-radius: 30px;
    position: absolute;
    left: 220px;
}

.boton-inscribete:hover{
    background:  #00ff15;
}

/*video responsive*/
.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio 56.25% y lo aplica como padding para mantener las proporciones del contenedor del vídeo.*/ 
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    margin: 50px;
    }
    .video-responsive iframe, /* iframe, objet y embed le otrogaremos unos atributos que lo que realizarán es rellenar por completo el contendor que los envuelve, pudiendo así mantener la proporción en todos los dispositivos.*/
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    } 

/*imagenes-hombre*/
/*CONVOCATORIA cursos e imagen*/
.entero-cursos{
    overflow: hidden; /*hizo que el contenido no se montara encima del otro*/
    margin: 50px;
}

.cursos h3{
    color: #00369c;
    text-align:center;
    padding: 30px;
    flex-direction: column;
    font-size: 30px;
    font-weight: 800;
}

.cursos p{
    margin: 10px;
    text-align: center;
    /* border: 1px solid black; */
    /* text-align: justify; */
    flex-direction: column;
    font-size: 20px;
    color:rgba(77, 77, 92, 0.53);
}


.imagen-cursos{
    display: flex; /*haec que se ponga d elado*/
    /* border: 1px solid red; */
    margin: 50px;
    align-items: center;
    
}

.contenido-imagen{
    width: 90%;
    /* align-items:center ; */
}


#curso-img{
    width: 100%;
}

.texto-imagen{
    width: 50%;
    /* border: 1px solid red; */
    padding: 0px 50px;
    font-size: 20px;
    align-content: flex-start;
}

.texto-imagen h3{
    color:#00369c;
    font-size: 25px;
}

.texto-imagen p{
    align-content:center;
    
}

/*iconos**/
#iconos{
    padding: 0px 50px;
    background: #fff;
    
}

.contenido-iconos{
    padding: 10px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.contenido-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid #00369c;
}

#icono-mobile{
    border: none;

}

#iconos h4{
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color:#00369c;
    font-weight: 200;
}

.contenido-iconos div i{
    color:#00369c
}

.contenido-iconos div h6{
    color: black;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}

.contenido-iconos div p{
    color: black;
    font-size: 15px;
}

.boton-iconos{
    text-align: center;
    padding-bottom: 50px;
}

/*cajas*/


#cajas{
    background-color: ;
    padding: 20px 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: space-between; 
    text-align: center;
}

#cajas img{
    border-radius: 100%;
    max-width: 300px ;
    max-height: 300px;
    border: #00369c 10PX;
}

#cajas div h4{
    color: #00369c;
    font-size: 20px;
    margin: 20px 0px;
}

#cajas div p{
    color: #4d4d5c87;
    font-size: 18px;
}

.boton-saber-mas{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 3px solid #16ce21;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
    background: #16ce21;

}

.boton-saber-mas:hover{
    background: #00ff15;
    color: #fff;
}



/*formularios*/
#contacto{
    background: #00369c;
    padding: 50px 0;
    color: #fff;
}

#contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    
}

#contacto form{
    max-width: 50% ;
    margin: 0 auto;
}

.datos-form{
    display: flex;

}

.datos-form div{
    padding: 10px;
    flex: 1;
}

form label{
    display: block;
    margin-bottom: 10px;

}

form input,
form textarea{
    background: #fff;
    border-radius: 10px;
    border: 2px solid #00369c;
    padding: 10px 5px;
    outline: 0;
    color: black;
    width: 100%;
}

form input:focus,
form textarea:focus{
    border-color: #fff;
    box-shadow: 0 0 0 1px #00369c;
}

form input::placeholder,
form textarea::placeholder{
    color: #fff;
}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton-formulario{
    text-decoration: none;
    color: #fff;
    border: 1px solid #16ce21;
    padding: 10px 20px;
    align-self: baseline; /*organiza el boton*/
    transition: all 0.4s;
    background-color: #16ce21;
    border-radius: 10px;
    display:inline-block;
}

.boton-formulario:hover{
    background:  #00ff15;
}


/*redes socualesx*/

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-siste {background: #16ce21;}
	.social ul li .icon-mail {background: #666666;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

    /*footer*/
    
    footer{
        background-color: #00369c;
        color: #fff;
        margin: 0px auto;
        /* border: 1px solid black; */
        width: 100%; /*ocupa todo*/
        height: 50vh; /*100 de cualquier dispositivo*/
        margin: 0 auto;
        /* padding: 60px 60px; */
        /* border: 1px solid black; */
        flex-direction: column;
        padding: 60px;
        }

    .personas-inter{
        flex-direction: column;
        
    }

    .personas-footer{
        padding: 10px 50px;
        justify-content: center;
        /* text-align: center; */
        float: left;
        /* border: 1px solid black; */
        margin-left: 50px;
        /* padding-top: 10px; */
        flex-direction: column;

    }

    .personas-footer p{
        line-height: 50px;
    }

    /*logo*/

    .logo{
        line-height: 60px;
    }
    .logo img{
        flex-direction: column;
        padding: 0px 60px;
    }
    
    /*footer siguenos*/

    .siguenos{
        background-color: #00369c;
        color: #fff;
        padding: 0px 50px; 
        float: left;
        flex-direction: column;
    }
    .sobre-footer p{
        line-height: 50px;
        
    }

    .siguenos h1{
        padding: 10px 20px;
    }
    .siguenos img{
        height: 50px;
        padding: 10px 20px;
        cursor: pointer; /*manito*/

    }

        /*responsive*/
@media(max-width: 760px){
    /*header*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed; 
        width: 100%; /*ocupa todo*/
        height: 100vh; /*100 de cualquier dispositivo*/
        background-color: #00369c;
        right: -100%; 
        top: 0; /*abarca todo*/
        text-align: center;    /*centra todo*/
        padding: 100px 0px;
        z-index: 100; /*para que no se toquen*/
        transition: 0.8s; 
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{ /* la x del menu, poner la x arriba en el manu*/
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{ /*cuando el chek este chekeado y todo s los elementos de menu*/
        right: 0;
    }

    /*personas*/

    #personas{
       flex-direction: column;   /*se pone para que cuando se3e haga responsive se haga en columnas */
    }

    #cajas{
        flex-direction: column;
    }

    /*icoonos*/

    .contenido-iconos{
    flex-direction: column;
    
    }

    .contenido-iconos div{
    border: none;
    }

    footer{
        flex-direction: column; 
        width: 100%; /*ocupa todo*/
        height: 100vh; /*100 de cualquier dispositivo*/
        background-color: #00369c;
        /* text-align: center;    centra todo */
    
    }

    /*home*/
    .imagen-cursos{
        flex-direction: column;
    }

    /* .personas-footer{
        flex-direction: column; 
    }

    .personas-int{
        flex-direction: column; 
    }

    .siguenos{
        flex-direction: column; 
    }

    .logo{
        flex-direction: column; 
    } */
}

